@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;700&display=swap");

/* general styles */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Jost", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    /* max-width: 1440px; */
    margin-left: auto;
    margin-right: auto;
}

a {
    cursor: pointer;
}


/* -------NAV styles---------- */

nav {
    background-color: #ff7f99;
    padding: 28px 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.menu-links {
    margin-left: 70px;
}

.button-contacto {
    width: 221px;
    height: 54px;
    border-radius: 90px;
    border: 1px solid #ffca41;
    background: #ff9593;
    cursor: pointer;
}

.text-link {
    font-style: normal;
    font-weight: 300;
    font-size: 27px;
    line-height: 39px;
    color: #ffffff;
}

.logo {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 69px;
    color: #ffca41;
}

.logo-team {
    color: #ffffff;
}


/* -------SECTION styles---------- */

section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 32px 76px;
    flex-wrap: wrap;
}

.content-burbuja {
    width: 50%;
}

.burbuja {
    width: 592px;
    height: 592px;
    background-color: #ff7f99;
    display: flex;
    border-radius: 296px 0px 296px 296px;
    align-items: center;
    justify-content: center;
}

.burbuja-text-box {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 98px;
}

h1 {
    font-weight: 400;
    font-size: 110px;
    line-height: 80px;
    display: flex;
    align-items: center;
    color: #cf6c80;
}

h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    margin: 20px 0;
}

.yellow-button {
    background: #ffca41;
    border-radius: 90px;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    color: #ffffff;
    border: none;
    width: 212px;
    height: 48px;
    cursor: pointer;
}

.yellow-button:hover {
    background: #ff7f99;
}

/* -------SECTION PROFILE styles---------- */

.profile-image-pricipal {
    border-radius: 300px;
    overflow: hidden;
    width: 572px;
    height: 572px;
}

.buttons-principal-profile {
    display: flex;
    flex-direction: row;
    margin-top: 47px;
}

.linkedin-link {
    margin-right: 35px;
}

.text-profile {
    text-align: justify;
}


/* -------FOOTER styles---------- */

footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #ff7f99;
    height: 603px;
    align-items: center;
    justify-content: space-evenly;
}

.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-img {
    width: 277px;
    height: 277px;
    border-radius: 200px;
    overflow: hidden;
}

h3 {
    margin-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 33px;
    color: #ffffff;
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
}

.linkedin {
    width: 49px;
    height: 49px;
    margin-top: 9px;
}


/* -------CONTACT styles---------- */

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.formBox {
    width: 479px;
    height: 49px;
    background: rgba(255, 202, 65, 0.1);
    border: 2px solid #ffca41;
    border-radius: 8px;
    margin-bottom: 19px;
    margin-top: 6px;
}

.formMessage {
    height: 137px;
}

.formCheckbox {
    margin-top: 32px;
}

.txtService {
    margin-top: 32px;
    margin-bottom: 32px;
}

.checkbox {
    margin-bottom: 32px;
    color: ff7f99;
}
/*---------------article---------------*/

article  {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}